# Dependencies
node_modules/
.pnpm-store/

# Env
.env
.env.*
!.env.example

# Build outputs
dist/
build/
.next/
out/
coverage/
cache/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/

# Blockchain
cache/
artifacts/
broadcast/
typechain-types/
